<div class="center jumbotron">
  <h1>Otsumami-watch</h1>
  <h2>
    今日のおつまみを探そう！
  </h2>
  <h3>
    おつまみを投稿する方はこちらから
  </h3>
  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>



